<h2>Add a stylist:</h2>

<form action="/new-stylist" method="post">
  <div class="form-group">
    <input required placeholder="New Stylist Name" type="text" class="form-control" name="stylist" id="stylist">
  </div>
  <button id="submit-stylist" type="submit" class="btn btn-info">Submit</button>
</form>
